body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(to bottom right, #0d0d0d, #1c1c1c);
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  color: #d9fefb;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 20px 0 40px;
}

.header a {
  border: none;
  background: linear-gradient(to right, #8af1aa, #57aac8);
  color: #0f1c26;
  padding: 7px 15px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}
.header a:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
}

.main {
  min-height: 85vh;
}

.footer {
  background: linear-gradient(to right, #262836, #1f2230);
  text-align: center;
  color: white;
  padding: 20px 10px;
  border-radius: 10px;
}

.footer a {
  color: #57aac8;
  transition: color 0.3s;
}
.footer a:hover {
  color: #8af1aa;
}

.card {
  background: linear-gradient(to right, #262836, #1f2230);
  color: #8af1aa;
  margin: 10px 0;
  padding: 20px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(138, 241, 170, 0.1);
}

.card__details {
  display: flex;
}
.card__details p {
  margin-right: 30px;
}

.card__buttons button,
.card__buttons a {
  padding: 8px 12px;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.card__buttons button {
  border: 1px solid #f0394b;
  color: #f0394b;
  background-color: transparent;
}
.card__buttons button:hover {
  background-color: #f0394b;
  color: white;
}

.card__buttons a {
  border: 1px solid #8af1aa;
  color: #8af1aa;
  background-color: transparent;
}
.card__buttons a:hover {
  background-color: #8af1aa;
  color: #0f1c26;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  color: #8af1aa;
}

.form-input label {
  margin-bottom: 10px;
  font-weight: 600;
}

.form-input input {
  background-color: #1f2230;
  border: 1px solid #8af1aa33;
  border-radius: 8px;
  padding: 15px;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}
.form-input input:focus {
  border-color: #8af1aa;
  box-shadow: 0 0 5px #8af1aa66;
}

h4 {
  color: white;
  margin: 80px 0;
  font-size: 1.2rem;
}

.item-list {
  border: 2px solid #262836;
  padding: 20px;
  margin: 50px 0;
  border-radius: 10px;
  background: linear-gradient(to right, #1f2230, #2b2f45);
}

.item-list p {
  color: #d9fefb;
  font-size: 1.2rem;
}

.item-list button {
  border: none;
  background: linear-gradient(to right, #57aac8, #8af1aa);
  color: #0f1c26;
  border-radius: 5px;
  width: 100%;
  margin-top: 40px;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.item-list button:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}

.form-input__list {
  border: 2px solid #262836;
  padding: 15px;
  margin-top: 40px;
  border-radius: 10px;
  background: linear-gradient(to left, #1f2230, #2b2f45);
}

.form-input__list div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form-input__list button {
  border: 1px solid #f0394b;
  color: #f0394b;
  margin-top: 20px;
  padding: 8px;
  border-radius: 5px;
  transition: 0.3s;
}
.form-input__list button:hover {
  background-color: #f0394b;
  color: white;
}

.customer-page__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 10px;
}

.customer-page__buttons .first,
.customer-page__buttons .second {
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 12px 30px;
  cursor: pointer;
  transition: 0.3s;
}

.customer-page__buttons .first {
  color: #f0394b;
  background-color: transparent;
  border: 3px solid #f0394b;
}
.customer-page__buttons .first:hover {
  background-color: #f0394b;
  color: white;
}

.customer-page__buttons .second {
  color: #8af1aa;
  background-color: transparent;
  border: 3px solid #8af1aa;
}
.customer-page__buttons .second:hover {
  background-color: #8af1aa;
  color: #0f1c26;
}

.customer-detail__main,
.customer-detail__products,
.customer-detail__buttons {
  background: linear-gradient(to right, #1f2230, #2b2f45);
  padding: 15px;
  border-radius: 10px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.customer-detail__item {
  display: flex;
  border-radius: 5px;
  margin: 20px 0;
}

.customer-detail__item span {
  color: #57aac8;
  margin-right: 5px;
}

.customer-detail__products p {
  color: #57aac8;
  margin-bottom: 25px;
}

.customer-detail__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customer-detail__buttons button,
.customer-detail__buttons a {
  border-radius: 6px;
  padding: 10px;
  font-size: 1.1rem;
  width: 100px;
  transition: 0.3s;
  text-align: center;
}

.customer-detail__buttons button {
  border: 1px solid #f0394b;
  color: #f0394b;
  background-color: transparent;
}
.customer-detail__buttons button:hover {
  background-color: #f0394b;
  color: white;
}

.customer-detail__buttons a {
  border: 1px solid #8af1aa;
  color: #8af1aa;
  background-color: transparent;
}
.customer-detail__buttons a:hover {
  background-color: #8af1aa;
  color: #0f1c26;
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
  }

  .card__buttons {
    margin-top: 20px;
  }

  .form-input__list div {
    flex-direction: column;
  }

  .customer-detail__main {
    grid-template-columns: 1fr;
  }

  .customer-detail__products {
    grid-template-columns: 1fr;
  }

  .customer-detail__buttons {
    flex-direction: column;
    gap: 10px;
  }
}
